<div data-role="header" align="center">
  Pochipochi
</div>

<div data-role="content">
  <%= form_tag '/bookmarks.iphone', :method => 'get', :id => 'bookmarks_search' do %>
    <%= text_field_tag(:search, params[:serach], :size=>30) %>
    <%= submit_tag "Search", :name => nil, 'data-role'=>:button, 'data-icon'=>:search, 'data-inline'=>:true %>
  <% end %>

  <%= render 'bookmarks' %>
</div>

<div data-role="footer" align="right">
  Created by pochi_black
</div>
